.docListItem {
  overflow: hidden;
  border-radius: 4px;
  height: 44px;
}

.docListItem--container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6px;
  padding: 8px 8px 8px 32px;
  border-radius: 4px;
  color: #5a677c;
  cursor: pointer;
  background-color: white;
  opacity: 1;
}
.docListItem--container:hover:not(.docListItem--active) {
  background: #f8f9ff;
  color: black;
}

.docListItem--active {
  background: #f3f5ff;
  color: black;
}
.docListItem--title {
  font-weight: 600;
  font-size: 11px;
  display: block;
  line-height: 1;
  white-space: nowrap;
}
.docListItem--subtitle {
  font-size: 9px;
  line-height: 1;
  white-space: nowrap;
}

/* transitions */
.docListItem--container-enter {
  opacity: 1;
  height: 0;
}

.docListItem--container-enter .docListItem--container {
  opacity: 0.1;
}

.docListItem--container-enter-active {
  opacity: 1;
  transition: 100ms cubic-bezier(0.25, 1, 0.5, 1);
  height: 44px;
}

.docListItem--container-enter-active .docListItem--container {
  opacity: 1;
  transition: 100ms;
}

.docListItem--container-exit {
  opacity: 1;
  height: 44px;
}

.docListItem--container-exit-active {
  opacity: 1;
  transition: 100ms cubic-bezier(0.25, 1, 0.5, 1);
  height: 0px;
}
